extends ../layout

block content
    .card.mb-3#post
        .card-header.mb-2.col-12.title= active
        .container-fluid.mb-3#display
            .container.col-8
                each item in post
                    .card.mb-3(href="")
                        .row.no-gutters
                            .col-md-4
                                img.card-img(src= item.firstImage, alt='image')
                            .col-md-8
                                .card-body
                                    a.h5.card-title.url(href="/post/view/"+item.url+'/'+item._id)= item.title
                                    p.card-text
                                    | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                    p.card-text
                                    small.text-muted= item.created
                nav#pagination.d-flex.justify-content-center(aria-label='Page navigation example')
                    ul.pagination
                        li.page-item
                            a.page-link(href='#' aria-label='Previous')
                                span(aria-hidden='true') &laquo;
                        li.page-item
                            a.page-link(href='#') 1
                        li.page-item
                            a.page-link(href='#') 2
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item
                            a.page-link(href='#' aria-label='Next')
                                span(aria-hidden='true') &raquo;
            .container.col-4#displayMost
                .card-header.mb-2#titleViewMost View Most
                    each mostItem in most
                        .card.mb-3
                            .row.no-gutters
                                .col-md-4
                                    img.card-img(src= mostItem.firstImage alt='...')
                                .col-md-8
                                    .card-body
                                        a.h5.card-title.url(href="/post/view/"+mostItem.url+'/'+mostItem._id)= mostItem.title
                                        p.card-text
                                        | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                                        p.card-text
                                        small.text-muted= mostItem.created
        