extends ../layout

block content
    h1(style="text-align: center;") List Users
    .d-flex.align-items-center
        form.ml-auto.d-flex(action="/users/search" method="GET")
            input.form-control(type="text" name="q" class="mr-2" value=q ? q : "")
            button.btn.btn-primary.mb-2 Search
    if errors
        each error in errors
            .alert.alert-danger(style="text-align: center; font-size: 20px;")= error
    table.table
        tr
            th Name
            th Phone
            th Email
            th Username
            th(style="padding-left: 7%;") Permission
            th Action

        each user in users
            tr
                td= user.name
                td= user.phone
                td= user.email
                td= user.username
                td
                    form#permission(action="/users/change-permission/"+user.id method="POST")
                        input.form-control(type="number" name="permission" max="2" min="0" value=user.permission)
                        button.btn.btn-primary.ml-2 Save
                td
                    a.btn.btn-danger.ml-2(href="/users/delete/"+user.id) Delete